.login-container{
    text-align:center;
    background-color:rgb(210, 250, 216);
     padding:20px;
     border-radius:10px;
     border-width:20px;
     background-size:cover;  
     height:100vh;
}
.register-container{
    text-align:center;
     background-color:rgb(210, 250, 216);
     padding:15px;
     border-radius:10px;
     border-width:20px;
     background-size:cover;
      height:100vh;
}
      
form{
    display:inline-block;
    text-align:left;
    margin-top:20px;
    background-color:lightblue;
    border-radius:10px;
    padding:20px;
    border-style:solid;
      border-width:3px;
      font-style:italic; 
}
